---
import LinkButton from "./Link-Button.astro";
import CssIcon from "./icons/CssIcon.astro";
import GitHub from "./icons/GitHub.astro";
import HtmlIcon from "./icons/HtmlIcon.astro"
import JavaScripticon from "./icons/JavaScripticon.astro";
import ScssIcon from "./icons/ScssIcon.astro";

const TAGS = {
  HTML: {
    name: "HTML",
    class: "bg-black text-white",
    icon: HtmlIcon ,
  },
  CSS: {
    name: "CSS",
    class: "bg-black text-white",
    icon: CssIcon,
  },
  SCSS: {
    name: "SCSS",
    class: "bg-black text-white",
    icon: ScssIcon,
  },
  JavaScript: {
    name: "JavaScript",
    class: "bg-black text-white",
    icon: JavaScripticon,
  },
}

const PROJECTS = [
    {
        title : 'StarWars E-comerce',
        description:'Una peque単a pagina de presentacion donde se muestras diferentes productos de Starwars, me he enfocado en mostrar las animaciones y el dise単o he utilizado Tecnologias como HTML, CSS, SCSS y JavaScript',
        link: 'https://roddyvargas.github.io/StarWars-Ecomerce/',
        github: 'https://github.com/RoddyVargas/StarWars-Ecomerce',
        image : 'https://i.postimg.cc/nzzGzTKX/svgl.webp',
        tags : [TAGS.HTML, TAGS.CSS, TAGS.SCSS, TAGS.JavaScript]
    },
    {
        title : 'Tetris-clone',
        description:'Una peque単a version del lejendario tetris, me he enfocado en practicar la jugabilidad y mejorar la experiencia visual del usuario y del desarrollador con un codigo mas limpio y optimo. Para el dise単o he utilizado Tecnologias como HTML, CSS y JavaScript',
        link: 'https://roddyvargas.github.io/Tetris/',
        github: 'https://github.com/RoddyVargas/Tetris',
        image : 'https://i.postimg.cc/tTMtVPD2/tetris-clone.webp',
        tags : [TAGS.HTML, TAGS.CSS, TAGS.JavaScript]
    },
    {
        title : 'Game Tower-blocks',
        description:'Un juego muy especial me he basado en un juego de celular donde habia que hacer una torre de pasteles, como el juego de tetris solo es utilizable en pc he hecho este para que sea multidispositivo asi que puedes jugarlo desde tu celular.',
        link: 'https://roddyvargas.github.io/TowerBlocks/',
        github: 'https://github.com/RoddyVargas/TowerBlocks',
        image : 'https://i.postimg.cc/tJnddTMy/tower-blocks.webp',
        tags : [TAGS.HTML, TAGS.CSS, TAGS.JavaScript]
    },
]
---
<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
      <img alt="StarWars" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">
      <ul class="flex flex-row mb-2 gap-x-2">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>

      <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
          {github && (
            <LinkButton href={github}>
              <GitHub class="size-6" />
              Code
              
            </LinkButton>
          )}
          {link && (
            <LinkButton href={link}>
              <link class="size-4" />
              Preview
            </LinkButton>
          )}
        </footer>
    </div>
  </div>
</article>
    ))
  }
</div>